.navbar {
    background-color: darkgreen;
    width: 100%;
}

.navbar-brand {
    color: white;
}

header .nav-item {
    color: white;
}

.list-group-item {
    border: 0 !important;
}

a.navbar-brand:hover {
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    background-color: lightblue;
}