{% extends "main.html" %}
{% block content %}


<div class="row">
    <h3>My Items</h3>  
</div>
<div class="row">
    <ul class="list-group">
        {% for item in items %}
        <li class="list-group-item">
            <span>
                <a href="{{url_for('catalog.showItem', user_id=item.user_id, item_slug=item.slug)}}">
                    {{ item.name }}
                <a href="{{url_for('catalog.showItemsInCategory', category_name=item.category.name)}}">
                    ({{item.category.name}})
                </a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock%}